---
import BaseHead from "../../components/BaseHead.astro";
import SinglePageHead from "../../components/SinglePageHead.astro";
import Header from "../../components/Header.astro";
import MobileMenu from "../../components/MobileMenu.astro";
import Footer from "../../components/Footer.astro";

type LanguageCollection = "zh-hans";

// 获取当前语言
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] as LanguageCollection;

// 动态加载翻译文件
import translationsZhHans from "../../locales/zh-hans/translation.json";
const translations = {
  "zh-hans": translationsZhHans,
}[lang];

const t = (key: string) => {
  const keys = key.split(".");
  return (
    keys.reduce(
      (acc, k) => acc && (acc as { [key: string]: any })[k],
      translations
    ) || key
  );
};
---

<html lang=`${lang}`>
  <head>
    <BaseHead title={t("header.about")} description={t("site.description")} />
    <SinglePageHead />
    <style>
      a {
        text-decoration: none;
      }
      @media (max-width: 720px) {
        hr {
          margin: 1rem 0;
        }
      }
    </style>
  </head>
  <body>
    <MobileMenu />
    <Header image="/images/header/about-header.webp" />
    <div class="single-page">
      <main>
        <h1>{t("header.about")}</h1>
        <p>
          你好呀，我是月落星河Tsukistar，主职前端方向软件工程师，目前持续向个人博主与VTuber不断努力中，希望能交到好多好朋友！
          我喜欢将自己的想法用各种方式表达出来，不管是一份代码、一幅画、一首歌，还是一篇文章、一句祝福，希望这些能为你们带来快乐。那些让我投入时间、精力、金钱的事情，往往是我最喜欢，也是最愿意去做的事，也一直希望自己可以保持创造力。
          人生海海，很高兴能够与你相遇。
        </p>
        <ul>
          <li><strong>关于我使用的技术栈</strong></li>
            <ul>
              <li>语言：HTML、CSS、JavaScript、Java、Python、SQL、C++</li>
              <li>框架：Vue、Astro、SpringBoot、Hono、OpenCV、YoLo</li>
            </ul>
          <li><strong>在其他地方找到我</strong>
            <ul>
              <li><a href="https://www.youtube.com/channel/UCPkuyPJuuFL7UWue-qtqzFQ" target="_blank" rel="noopener">YouTube</a>：更新实况剪辑和偶尔有的整活视频</li>
              <li><a href="https://space.bilibili.com/102953" target="_blank" rel="noopener">哔哩哔哩</a>：与YouTube同步更新视频，大概不会回去直播了</li>
              <li><a href="https://twitter.com/tsukistarCN" target="_blank" rel="noopener">Twitter</a>：发各种短篇废文的地方，碎碎念为主</li>
              <li><a href="https://github.com/Tsukistar" target="_blank" rel="noopener">Github</a>：做些开源贡献，偶尔写点自己喜欢写的代码推上去</li>
              <li><a href="https://steamcommunity.com/id/tsukistarGame/" target="_blank" rel="noopener">Steam</a>：欢迎一起玩！</li>
              <li>微信公众号：星河君漫游代码秘境</li>
            </ul>
          </li>
        </ul>
        <hr />
        <h4>关于本博客</h4>
        <p>
          最开始决定创建这个博客，一方面是打算把它作为一个自己的便于查阅的技术文档，将自己从各个渠道学习到的东西收集和记录下来。另一方面我又想让自己尽可能不局限于“技术”，而是立足多个方面写一些自己的感悟之类的文章，将一些在生命中某个时刻突然冒出来的想法，透过文字的方式和大家讲一讲，也是一件有趣的事。
        </p>
        <p>
          在我看来，篇幅比较短的内容发在推特上就可以了，篇幅长一些的就有必要写一篇博文记录一下了。当然，如果这些文章被大家看到，并且起了帮助性的作用，那便再好不过了。
        </p>
        <p>
          关于本博客使用的图片、字体与其他各类素材，大部分源于本人约稿或授权范围内的素材，包括但不限于CC0授权许可图片、开源字体等。
          在此非常感谢 <a href="https://x.com/kukutaraccoon/status/1815157252766191953?s=46" target="_blank" rel="noopener">@kukutaraccoon</a>老师 提供的背景素材，超级梦幻！
        </p>
      </main>
    </div>
    <Footer />
  </body>
</html>
