---
import BaseHead from "../../components/BaseHead.astro";
import SinglePageHead from "../../components/SinglePageHead.astro";
import Header from "../../components/Header.astro";
import MobileMenu from "../../components/MobileMenu.astro";
import WalineComment from "../../components/WalineComment.astro";
import Footer from "../../components/Footer.astro";

type LanguageCollection = "zh-hans";

// 获取当前语言
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] as LanguageCollection;

// 动态加载翻译文件
import translationsZhHans from "../../locales/zh-hans/translation.json";
const translations = {
  "zh-hans": translationsZhHans,
}[lang];

const t = (key: string) => {
  const keys = key.split(".");
  return (
    keys.reduce(
      (acc, k) => acc && (acc as { [key: string]: any })[k],
      translations
    ) || key
  );
};
---

<html lang=`${lang}`>
  <head>
    <BaseHead title={t("header.message-board")} description={t("site.description")} />
    <SinglePageHead />
    <style>
      @media (max-width: 720px) {

      }
    </style>
  </head>
  <body>
    <MobileMenu />
    <Header image="/images/header/example-header.jpg" />
    <div class="single-page">
      <main>
        <h1>{t("header.message-board")}</h1>
        <p>这里是一块留言板，有任何想要对我说的话都可以在这里留言哦(,,・ω・,,)</p>
        <WalineComment lang="zh-hans"/>
      </main>
    </div>
    <Footer />
  </body>
</html>