---
import BaseHead from "../../components/BaseHead.astro";
import SinglePageHead from "../../components/SinglePageHead.astro";
import Header from "../../components/Header.astro";
import MobileMenu from "../../components/MobileMenu.astro";
import Footer from "../../components/Footer.astro";

type LanguageCollection = "en";

// 获取当前语言
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] as LanguageCollection;

// 动态加载翻译文件
import translationsEn from "../../locales/en/translation.json";
const translations = {
  "en": translationsEn,
}[lang];

const t = (key: string) => {
  const keys = key.split(".");
  return (
    keys.reduce(
      (acc, k) => acc && (acc as { [key: string]: any })[k],
      translations
    ) || key
  );
};
---

<html lang=`${lang}`>
  <head>
    <BaseHead title={t("header.about")} description={t("site.description")} />
    <SinglePageHead />
    <style>
      a {
        text-decoration: none;
      }
      @media (max-width: 720px) {
        hr {
          margin: 1rem 0;
        }
      }
    </style>
  </head>
  <body>
    <MobileMenu />
    <Header image="/images/header/example-header.jpg" />
    <div class="single-page">
      <main>
        <h1>{t("header.about")}</h1>
        <p>
          This is an example about page. It's a great place to talk about your site, your goals, and your team. You can also share news, updates, and more here.
        </p>     
      </main>
    </div>
    <Footer />
  </body>
</html>
