---
import BaseHead from "../components/BaseHead.astro";
---

<head>
  <BaseHead title="星河絮语" description="Coding for the wonderful world." />
  <style>
    .redirect-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-size: cover;
    }
    .redirect-page img {
      width: auto;
      height: 300px;
      margin: 0 0 1em;
    }
    @media (max-width: 768px) {
      .redirect-page img {
        height: 200px;
      }
    }
  </style>
</head>
<Fragment>
  <script>
    const getTargetLang = () => {
      const userLang = navigator.language;
      if (userLang.includes("zh")) {
        return userLang.includes("CN") ? "zh-hans" : "zh-hant";
      }
      return "en";
    };

    const targetLang = getTargetLang();
    const location = `/${targetLang}/1`;

    // 预加载下一个页面的资源
    const link = document.createElement("link");
    link.rel = "preload";
    link.href = location;
    link.as = "document";
    document.head.appendChild(link);

    // 延时3秒跳转
    setTimeout(() => {
      window.location.replace(location);
    }, 3000);
  </script>
  <div class="redirect-page">
    This is a redirect page, You can change it to your own content.
  </div>
</Fragment>
